<% include ./partials/header %>

<h4>Edit Image</h4>
<div id = "showThumbnail" class="thumbnail">
    <img class="img-fluid max-width: 100%;" src="/hidden/<%= image._id %>" alt="Image">
</div>
<div class="ml-auto">
    <form action="/gallery/<%= image._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="exampleInputPassword1">Image Description</label>
            <input class="form-control" type="text" name="desc" value="<%= image.desc %>">

            <label for="exampleFormControlSelect1">Privacy Mode</label>
            <select class="form-control" name="privacy" id="exampleFormControlSelect1">
                <option value="private" selected>private</option>
                <option value="public">public</option>
            </select>
        </div>
        <a class="btn btn-info" href="javascript:history.back()"> Back </a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include ./partials/footer %>