<% include ./partials/header %>
<img class="image" src="https://i.pinimg.com/originals/a2/21/84/a2218443b27823d024a03fc1b61a9832.jpg" alt="" srcset="">
<div class="form-group1">
	<img class="logo"
		src="https://img.favpng.com/20/22/1/button-computer-icons-login-image-illustration-png-favpng-vx8jBdCk93jyFfFM1bHVcc7qZ.jpg"
		alt="">
	<h1 class="log_h1">Log into Gallary App</h1>

	<form action="/login" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="Username or Mobile">
			<br />
			<input class="form-control" type="password" name="password" placeholder="Password">
		</div>
		<a class="btn btn-info" href="javascript:history.back()"> Back </a>
		<button type="submit" class="btn btn-primary">Log in</button>
	</form>
</div>
<% include ./partials/footer %>