<% include ./partials/header %>

<form action="/gallery" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" accept="image/jpeg, image/jpg, image/png" name="myFile" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Image Description</label>
        <input class="form-control" type="text" name="desc" placeholder="desc">

        <label for="exampleFormControlSelect1">Privacy Mode</label>
        <select class="form-control" name="privacy" id="exampleFormControlSelect1">
            <option value="private" selected>private</option>
            <option value="public">public</option>
        </select>
    </div>
    <a class="btn btn-info" href="javascript:history.back()"> Back </a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
<% include ./partials/footer %>