<% include ./partials/header %>

<form action="/gallery/<%= image._id %>/comment" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Comment Text</label>
        <input class="form-control" type="text" name="text" placeholder="Enter comment here..">
    </div>
    
    <a class="btn btn-info" href="javascript:history.back()"> Back </a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
<% include ./partials/footer %>