<% include ./partials/header %>
<img class="image" src="https://www.hellers.ws/images/friends/2008-06-tony-gallary-l.jpg" alt="" srcset="">
<div class="form-group1">
    <img class="logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTds0R8C37hohWoWJIw0hLGYTVdYz2_OtcZ7g&usqp=CAU"
        alt="">
    <h1 class="log_h1">SignUp for Gallary App </h1>

    <form action="/register" method="POST">
        <div class="form-group">

            <input class="form-control" type="text" name="username" placeholder="Username or Mobile"">
             <br>
            <input class=" form-control" type="password" name="password" placeholder="Password">
        </div>
        <a class="btn btn-info" href="javascript:history.back()"> Back </a>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
<% include ./partials/footer %>