<% include ./partials/header %>

<div class="jumbotron" style="height: 12rem;">
    <h1 class="text-center">Private Gallery</h1>       
    <a href="/gallery/new"><button class="btn btn-primary"> Add Picture </button></a>
</div>
<div class="row">
    <% images.forEach((img)=>{ %>
        <% if(img.owner.equals(currentUser._id)){ %>
            <div class="col-sm-4 col-md-3 mb-2">
                <a href="/gallery/<%= img._id %>"><img id="thumbnail" class="img-thumbnail" src="<%= img.url %>" alt="Image"></a>
            </div>
        <% } %>
    <% }) %>
</div>

    
<% include ./partials/footer %>
