body {
	padding: 0;
	margin: 0;
}

#deleteBtn {
	display: inline;
}

#thumbnail {
	padding: 0;
	max-width: 300px !important;
	max-height: 200px !important;
}

#showThumbnail {
	max-width: 30rem !important;
	max-height: 30rem !important;
	margin: 20px auto;
}

.img-fluid {
	max-width: 30rem !important;
	max-height: 25rem !important;
}

.jumbotron {
	height: 8rem;
}
