body {
	padding: 0;
	margin: 0;
	background-color: greenyellow;
	background-image: url('https://wallpapermemory.com/uploads/513/wood-background-hd-1680x1050-345942.jpg');
}

.navbar {
	color: white;
	font-weight: bolder;
}

#deleteBtn {
	display: inline;
}

#thumbnail {
	padding: 0;
	max-height: 350px;
}

#showThumbnail {
	max-width: 30rem !important;
	max-height: 30rem !important;
	margin: 20px auto;
}

.img-fluid {
	max-width: 30rem !important;
	max-height: 25rem !important;
}

.jumbotron {
	height: 8rem;
}
<<<<<<< HEAD ======= .image {
	width: 500px;
	height: 420px;
	opacity: 0.7;
	border-radius: 5rem 0rem 0rem 5rem;
}
>>>>>>>aeefa84e421be2b1b57ef08cecbbd5b1d523ecb4 .form-group1 {
	width: 500px;
	margin: 0 auto;
	padding: 1em;
	float: right;
	background-color: rgb(98, 153, 155, 0.3);
	border-radius: 0rem 5rem 5rem 0rem;
}
.logo {
	width: 5em;
	height: 5em;
	border-radius: 50%;
}

.form-group {
	width: 60%;
	margin: 0 auto;
	padding: 1em;
	color: white;
}

.form-control {
	border-color: rgb(255, 255, 255);
	background-color: inherit;
}

.log_h1 {
	margin-top: 2em;
	color: rgb(255, 255, 255);
	font-weight: normal;
}

.btn {
	background-color: inherit;
	border-color: inherit;
	width: 26%;
}
